.. mermaid::
    :align: center

    %%{init: {'flowchart': { 'curve': 'monotoneY'}, 'fontFamily': 'Verdana' } }%%
    graph TD

        Op(({{ op_name }}))

        {% for in_name in inputs -%}
            In{{ loop.index-1 }}[{{ in_name }}] -->|"In[{{ loop.index-1 }}]"| Op
        {% endfor %}

        {% for out_name in outputs -%}
            Op -->|"Out[{{ loop.index-1 }}]"| Out{{ loop.index-1 }}[{{ out_name }}]
        {% endfor %}
